/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
pnpm-lock.yaml
.pnpm-store
.pnpm-workspace.yaml
composer.lock
public/img/
public/build/
public/js/build/
shemas/
backups/
resources/js/_archive/
public/assets/
/bootstrap/ssr
/storage/pail
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.zed
.github/
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.ico
*.webp
/storage/app
/storage/framework
/storage/logs
/legacy/PHPExcel/
/legacy/setasign/
/legacy/swiftmailer/
/legacy/phpmailer/
/bootstrap/cache/
/public/node_modules
/public/theme/fonts
/resources/mercurio/build
/public/mercurio/build
/storage/temp/
legacy/Thiagoprz/tests
legacy/Thiagoprz/database
legacy/Thiagoprz/composer.json
legacy/Thiagoprz/License.txt
public/cajas/build
.pnpm-store/
resources/js/assets/
