<td>
    <div class="d-flex align-items-center">
        <i class="fa fa-id-card text-muted mr-2"></i>
        <span class="font-weight-bold">
            <%=cedula%>
        </span>
    </div>
</td>
<td>
    <div class="d-flex align-items-center">
        <i class="fa fa-user text-info mr-2"></i>
        <%=capitalize(nombre)%>
    </div>
</td>
<td>
    <div class="d-flex align-items-center">
        <i class="fa fa-building text-warning mr-2"></i>
        <span class="badge badge-primary">
            <%=nittra%>
        </span>
    </div>
</td>
<td>
    <div class="d-flex align-items-center">
        <i class="fa fa-industry text-secondary mr-2"></i>
        <%=razontra%>
    </div>
</td>
<td>
    <div class="d-flex align-items-center">
        <i class="fa fa-calendar text-primary mr-2"></i>
        <span class="font-weight-bold">
            <%=create_at%>
        </span>
    </div>
</td>
<td class="text-center">
    <div class="btn-group" role="group">
        <button type="button" data-cid="<%=cedula%>" data-toggle="row-like"
            class="btn btn-primary btn-sm rounded-circle" title="Ver detalles del trabajador">
            <i class="fa fa-eye"></i>
        </button>
        <? if (Session::getData("SuperAdmin") == 1) { ?>
        <button type="button" data-cid="<%=cedula%>" data-toggle="row-edit"
            class="btn btn-warning btn-sm rounded-circle" title="Editar trabajador">
            <i class="fa fa-edit"></i>
        </button>
        <? } ?>
        <? if (Session::getData("SuperAdmin") == 1) { ?>
        <button type="button" data-cid="<%=cedula%>" data-toggle="row-remove"
            class="btn btn-danger btn-sm rounded-circle" title="Eliminar trabajador">
            <i class="fa fa-trash"></i>
        </button>
        <? } ?>
    </div>
</td>