<div class='card'>
    <div class='card-body'>
        <div class='row'>
            <div class="card-header">
                <h5 class='card-title'><b>Cruzar Habil Pre-Registro Presencial</b></h5>
            </div>
        </div>
        <div class='row'>
            <div class="col-md-6">
                <form class="form" method='POST' action='#'>
                    <div class="row">
                        <label class="col-md-12 col-form-label">Realizar el registro de los representantes habiles para la Asamblea que se realiza de modo presencial.
                            Este proceso cruza con la "asa05" reporte por Cartera, la "asa01" Poderes, donde se valida el poderdante. Para los cuales se crea el registro en estado rechazados.
                        </label>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="form-control">
                                    <button class='btn btn-lg btn-success' id='bt_cruce_preregistro' type='button'>Iniciar proceso aquí</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>