<div class='card'>
    <div class='card-body'>
        <div class='form-row'>
            <div class="col-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class='input-group-text'></div>
                    </div>
                    <div class="form-control"><%=nit %> <small>(NIT)</small></div>
                    <input style='display:none' name='crear_add_poder' id='crear_add_poder' value='<%=nit %>' />
                </div>
            </div>
            <div class="col-6">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class='input-group-text'></div>
                    </div>
                    <div class="form-control"><%=razsoc %> <small>(Razón social)</small></div>
                </div>
            </div>
            <div class="col-3">
                <button type='button' class='btn btn-sm btn-danger' id='borrar_poder' style='margin-top:0px;'><i class='fa fa-trash'></i></button>
            </div>
        </div>
    </div>
</div>