<? if (Session::getData("RD") != "Apoyo") { ?>
    <li>
        <a href="#" data-href='buscar'><i class="nc-icon nc-zoom-split"></i>
            <p>Buscar</p>
        </a>
    </li>
<? } ?>
<li>
    <a href="#" data-href='listar'><i class="nc-icon nc-book-bookmark"></i>
        <p>Listar</p>
    </a>
</li>
<li>
    <a href="#" data-href='rechazados'><i class="nc-icon nc-book-bookmark"></i>
        <p>Rechazados</p>
    </a>
</li>
<? if (Session::getData("SuperAdmin") || Session::getData("RD") == "Apoyo") { ?>
    <? if (Session::getData("SuperAdmin")) { ?>
        <li>
            <a href="#" data-href='crear'><i class="nc-icon nc-badge"></i>
                <p>Crear</p>
            </a>
        </li>
    <? } ?>
    <li>
        <a href="#" data-href='listar_inscritos'><i class="nc-icon nc-book-bookmark"></i>
            <p>Inscritos</p>
        </a>
    </li>
    <li>
        <a href="#" data-href='registros_pendientes'><i class="nc-icon nc-book-bookmark"></i>
            <p>R. Pendientes</p>
        </a>
    </li>
    <li>
        <a href="#" data-href='preregistro_presencial'><i class="nc-icon nc-book-bookmark"></i>
            <p>H. Pre-Registro</p>
        </a>
    </li>
<? } ?>