<div class="row">
    <div class="col-md-4">
        <span class="h4 mb-4 text-primary"> Novedades</span>
    </div>
    <div class="col">
        <nav class="nav justify-content-end">
            <button class="nav-link btn btn-success" id='bt_procesar_all' type="button">
                &nbsp;Procesar Todo
            </button>&nbsp;
            <button class="nav-link btn btn-primary" id='bt_actualiza' type="button">
                &nbsp;Actualizar
            </button>
        </nav>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-striped table-bordered dtr-inline" id='tb_data_novedades'>
        <thead>
            <tr>
                <th>ID</th>
                <th>Linea</th>
                <th>Nit</th>
                <th>Cedrep</th>
                <th>Syncro</th>
                <th>Estado</th>
                <th><i class='nc-icon nc-tap-01'></i></th>
            </tr>
        </thead>
        <tbody id="show_rows"></tbody>
    </table>
</div>