<td>
    <div class="d-flex align-items-center">
        <span class="badge badge-primary mr-2">#<%=id%></span>
    </div>
</td>
<td>
    <div class="d-flex align-items-center">
        <i class="fa fa-code text-info mr-2"></i>
        <span class="font-weight-bold">
            <%=linea%>
        </span>
    </div>
</td>
<td>
    <div class="d-flex align-items-center">
        <i class="fa fa-building text-muted mr-2"></i>
        <%=nit%>
    </div>
</td>
<td>
    <div class="d-flex align-items-center">
        <i class="fa fa-id-card text-warning mr-2"></i>
        <%=cedula_representante%>
    </div>
</td>
<td>
    <% if(syncro=='S' ){ %>
        <span class="badge badge-success">
            <i class="fa fa-check-circle mr-1"></i>
            Sincronizado
        </span>
        <% }else{ %>
            <span class="badge badge-warning">
                <i class="fa fa-clock-o mr-1"></i>
                Pendiente
            </span>
            <% } %>
</td>
<td>
    <% if(estado=='A' ){ %>
        <span class="badge badge-success">
            <i class="fa fa-check-circle mr-1"></i>
            Activo
        </span>
        <% }else{ %>
            <span class="badge badge-secondary">
                <i class="fa fa-pause-circle mr-1"></i>
                Inactivo
            </span>
            <% } %>
</td>
<td class="text-center">
    <div class="btn-group" role="group">
        <button type="button" data-code="<%=id%>" data-toggle="row-show" class="btn btn-primary btn-sm rounded-circle"
            title="Ver detalles de la novedad">
            <i class="fa fa-eye"></i>
        </button>
        <button type="button" data-code="<%=id%>" data-toggle="row-send" class="btn btn-warning btn-sm rounded-circle"
            title="Procesar novedad">
            <i class="fa fa-cogs"></i>
        </button>
        <button type="button" data-code="<%=id%>" data-toggle="row-remove" class="btn btn-danger btn-sm rounded-circle"
            title="Eliminar novedad">
            <i class="fa fa-trash"></i>
        </button>
    </div>
</td>