<div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8">
        <div id="auth-header">
        </div>
        <div id="auth-content"></div>
    </div>
</div>