<div class="d-flex flex-column" style="min-height: 100vh;">
    <!-- Header -->
    <header id="subheader" class="flex-grow-0 flex-shrink-0">
        <!-- Header component will be rendered here -->
    </header>

    <!-- Content Area -->
    <main id="body" class="flex-fill">
        <!-- Content component will be rendered here -->
    </main>
</div>