<div class="flex h-screen">
    <!-- Header -->
    <header id="subheader">
        <!-- Header component will be rendered here -->
    </header>

    <!-- Content Area -->
    <main id="body">
        <!-- Content component will be rendered here -->
    </main>
</div>
</div>