<div class="min-vh-100 d-flex align-items-center justify-content-center bg-light py-5 px-4">
    <div class="w-100" style="max-width: 400px;">
        <div id="header">
        </div>
        <div id="content"></div>
    </div>
</div>