<div class="d-flex" style="min-height: 100vh;">
    <!-- Header -->
    <header id="subheader">
        <!-- Header component will be rendered here -->
    </header>

    <!-- Content Area -->
    <main id="body" class="flex-grow-1">
        <!-- Content component will be rendered here -->
    </main>
</div>