<table align="center" border="0" cellpadding="0" cellspacing="0" style="width:700px">
    <tbody>
        <tr>
            <td style="text-align:center"><img alt="" src="<?=$assets?>img/circle-logo.jpg" style="height:100px" /></td>
        </tr>
        <tr style='height:100px'>
            <td>
                <p>
                    <span style="color:#006633; font-family:Arial,Helvetica,sans-serif;font-size:15px">
                        <strong>Hola cordial saludo.</strong>
                    </span><br/>
                    <span style="font-family:Arial,Helvetica,sans-serif;font-size:15px">
                        Señor@ Representante <?=capitalize($repleg)?>
                    </span>
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    <span style="font-family:Arial,Helvetica,sans-serif;font-size:14px">
                        <?=$msj;?><br/>
                        Al correo electrónico registrado se enviará el usuario y contraseña y el link de ingreso para participar a la asamblea. Esta información llegará una hora antes de la hora señalada para el evento.<br/>
                        Para más información en la dirección web  https://comfaca.com/asamblea/ está disponible toda la información referente a la Asamblea.<br/><br/>
                    </span>
                    <span style="font-family:Arial,Helvetica,sans-serif;font-size:13px;color:#F89C4B">
                        Por favor no responda a este correo porque es generado de forma automática.
                    </span>
                </p>
            </td>
        </tr>
        <td>
            <img alt="" src="<?=$assets?>img/asamblea-logo.jpg" style="width:120px" />
            <p style='text-align:justify;font-size:10px;color:#480000;font-family:Arial,Helvetica,sans-serif;'>Este correo electrónico o los archivos adjuntos al mismo pueden contener información de carácter confidencial y/o privilegiado, y se envían a la atención única y exclusivamente de la persona y/o entidad a quien va dirigido. La copia, revisión, uso, revelación y/o distribución de dicha información confidencial sin la autorización por escrito de COMFACA está prohibida. Si usted no es el destinatario a quien se dirige el presente correo, por favor notifique de forma inmediata al remitente, borre este mensaje y absténgase de usarlo, el uso no autorizado de la información contenida en el presente correo le dará derecho a COMFACA de reclamarle por los daños y perjuicios que esto le cause.</p> 
            <p style='text-align:justify;font-size:10px;color:#480000;font-family:Arial,Helvetica,sans-serif;'>En cumplimiento de la Ley de protección de datos personales le informamos que COMFACA es responsable del tratamiento de sus datos, por lo tanto, ha puesto a su disposición información sobre el tratamiento, las finalidades, sus derechos, y los canales de atención en nuestra política, la cual puede consultar escribiendo a atencionalusuario@comfaca.com o ingresando a nuestra página web www.comfaca.com</p>
        </td>
    </tbody>
</table>