<div class="container-fluid">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h5 class="mb-0">
                <i class="fa fa-plus-circle mr-2 pb-3"></i>
                <%=title%>
            </h5>
        </div>
        <div class="card-body">
            <form method="post" action="#" class="needs-validation" id="formulario" novalidate>
                <div class="row">
                    <!-- Columna Izquierda -->
                    <div class="col-lg-6 col-md-12">
                        <div class="form-group row">
                            <label for="nit" class="col-md-4 col-form-label font-weight-bold">
                                <i class="fa fa-hashtag mr-1 text-danger">*</i>NIT Empresa
                            </label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-building"></i>
                                        </span>
                                    </div>
                                    <% disabled=(isNew==false)? 'disabled' : '' %>
                                        <input type="text" class="form-control form-control-sm" id="nit" name="nit"
                                            placeholder="Número de Identificación Tributaria"
                                            value="<%=(cartera.nit)? cartera.nit: ''%>" <%=disabled%> required />
                                        <div class="input-group-append">
                                            <button type="button" id="bt_buscar_empresa"
                                                class="btn btn-outline-primary btn-sm" <%=disabled%>>
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                </div>
                                <div class="invalid-feedback">
                                    El NIT es requerido
                                </div>
                                <div toggle-error="nit" class="error text-danger small"></div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="razsoc" class="col-md-4 col-form-label font-weight-bold">
                                <i class="fa fa-building mr-1 text-danger">*</i>Razón Social
                            </label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-industry"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control form-control-sm" name="razsoc" id="razsoc"
                                        placeholder="Razón social de la empresa" value="<%=cartera.razsoc%>" required />
                                </div>
                                <div class="invalid-feedback">
                                    La razón social es requerida
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="repleg" class="col-md-4 col-form-label font-weight-bold">
                                <i class="fa fa-user mr-1 text-danger">*</i>Representante Legal
                            </label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-user-tie"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control form-control-sm" name="repleg" id="repleg"
                                        placeholder="Nombre del representante legal" value="<%=cartera.repleg%>"
                                        required />
                                </div>
                                <div class="invalid-feedback">
                                    El representante legal es requerido
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="cedrep" class="col-md-4 col-form-label font-weight-bold">
                                <i class="fa fa-id-card mr-1 text-danger">*</i>Cédula Representante
                            </label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-id-badge"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control form-control-sm" name="cedrep" id="cedrep"
                                        placeholder="Número de cédula" value="<%=cartera.cedrep%>" required />
                                </div>
                                <div class="invalid-feedback">
                                    La cédula del representante es requerida
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Columna Derecha -->
                    <div class="col-lg-6 col-md-12">
                        <div class="form-group row">
                            <label for="codigo" class="col-md-4 col-form-label font-weight-bold">
                                <i class="fa fa-code mr-1 text-danger">*</i>Código
                            </label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-barcode"></i>
                                        </span>
                                    </div>
                                    <select class="form-control form-control-sm" name="codigo" id="codigo" <%=disabled%>
                                        required>
                                        <%_.each(options, function(value, key){%>
                                            <% selected=(cartera.codigo==key)? 'selected' :'' %>
                                                <option value="<%=key%>" <%=selected%>><%=value%>
                                                </option>
                                                <% }) %>
                                    </select>
                                </div>
                                <div class="invalid-feedback">
                                    El código es requerido
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="concepto" class="col-md-4 col-form-label font-weight-bold">
                                <i class="fa fa-comment mr-1 text-danger">*</i>Concepto
                            </label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-file-alt"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control form-control-sm" name="concepto"
                                        id="concepto" placeholder="Concepto de la cartera" value="<%=cartera.concepto%>"
                                        required />
                                </div>
                                <div class="invalid-feedback">
                                    El concepto es requerido
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-4 col-form-label font-weight-bold">
                                <i class="fa fa-cogs mr-1"></i>Validación y Acciones
                            </label>
                            <div class="col-md-8">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="cruzar_habiles"
                                        id="cruzar_habiles">
                                    <label class="custom-control-label" for="cruzar_habiles">
                                        <i class="fa fa-exchange-alt mr-1"></i>Cruzar Con Habiles
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Botones de Acción -->
                <div class="row mt-4">
                    <div class="col-12">
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-success btn-lg px-4 py-2 mr-2" id="bt_registrar"
                                <%=(isNew==false)? '' : 'disabled' %>>
                                <i class="fa fa-arrow-right mr-2"></i>Continuar
                            </button>
                            <button type="button" class="btn btn-secondary btn-lg px-4 py-2" id="bt_cancelar">
                                <i class="fa fa-times mr-2"></i>Cancelar
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>