<div class="container-fluid">
    <div class="card">
        <div class="card-header bg-success text-white">
            <h5 class="mb-0">
                <i class="fa fa-upload mr-2 pb-3"></i>Cargue De Cartera
            </h5>
        </div>
        <div class="card-body">
            <form method="post" action="#" class="needs-validation" id="formulario" novalidate>
                <div class="row">
                    <div class="col-lg-8 col-md-12 mx-auto">
                        <div class="form-group row">
                            <label for="archivo_cartera" class="col-md-3 col-form-label font-weight-bold">
                                <i class="fa fa-file-csv mr-1 text-danger">*</i>Archivo CSV
                            </label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-file-upload"></i>
                                        </span>
                                    </div>
                                    <input type="file" class="form-control-file d-none" name="archivo_cartera"
                                        id="archivo_cartera" data-event="upload" onchange="handleFiles()" required />
                                    <div class="form-control has-danger" data-toggle-file="searchfile" id="name_archivo"
                                        name="name_archivo" style="line-height: 2; cursor: pointer;">
                                        <i class="fa fa-file-upload mr-2"></i>Seleccionar archivo...
                                    </div>
                                    <div class="input-group-append">
                                        <button type="button" data-toggle-file="searchfile"
                                            class="btn btn-outline-primary btn-sm">
                                            <i class="fa fa-search"></i>
                                        </button>
                                        <button type="button" disabled id="remover_archivo"
                                            class="btn btn-outline-danger btn-sm ml-1">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="invalid-feedback">
                                    El archivo CSV es requerido
                                </div>
                                <div toggle-error="archivo" class="error text-danger small"></div>
                            </div>
                        </div>

                        <!-- Instrucciones del Formato -->
                        <div class="form-group row">
                            <div class="col-12">
                                <div class="alert alert-info">
                                    <h6 class="alert-heading">
                                        <i class="fa fa-info-circle mr-2"></i>Formato del Archivo CSV
                                    </h6>
                                    <p class="mb-2">Se requiere un archivo CSV con las siguientes columnas en orden:</p>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <ul class="list-unstyled mb-0">
                                                <li><strong>Columna 1:</strong> Nit</li>
                                                <li><strong>Columna 2:</strong> Razón social</li>
                                                <li><strong>Columna 3:</strong> Cédula representante legal</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <ul class="list-unstyled mb-0">
                                                <li><strong>Columna 4:</strong> Nombre representante legal</li>
                                                <li><strong>Columna 5:</strong> Tipo (A=APORTES, S=SERVICIOS,
                                                    L=LIBRANZA)</li>
                                                <li><strong>Columna 6:</strong> Descripción</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Opciones Adicionales -->
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label font-weight-bold">
                                <i class="fa fa-cogs mr-1"></i>Opciones
                            </label>
                            <div class="col-md-9">
                                <div class="custom-control custom-checkbox mb-2">
                                    <input type="checkbox" class="custom-control-input" name="validar_datos"
                                        id="validar_datos" checked>
                                    <label class="custom-control-label" for="validar_datos">
                                        <i class="fa fa-check-circle mr-1"></i>Validar datos antes de importar
                                    </label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="sobreescribir"
                                        id="sobreescribir">
                                    <label class="custom-control-label" for="sobreescribir">
                                        <i class="fa fa-sync-alt mr-1"></i>Sobreescribir registros existentes
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Botones de Acción -->
                <div class="row mt-4">
                    <div class="col-12">
                        <div class="d-flex justify-content-center">
                            <button type="button" disabled class="btn btn-success btn-lg px-4 py-2 mr-2"
                                id="bt_hacer_cargue">
                                <i class="fa fa-upload mr-2"></i>Cargar Cartera
                            </button>
                            <button type="button" class="btn btn-secondary btn-lg px-4 py-2" id="bt_cancelar">
                                <i class="fa fa-times mr-2"></i>Cancelar
                            </button>
                            <button type="button" class="btn btn-info btn-lg px-4 py-2 ml-2"
                                id="bt_descargar_plantilla">
                                <i class="fa fa-download mr-2"></i>Descargar Plantilla
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>