<td>
    <div class="d-flex align-items-center">
        <i class="fa fa-id-card text-muted mr-2"></i>
        <span class="font-weight-bold">
            <%=cedrep%>
        </span>
    </div>
</td>
<td>
    <div class="d-flex align-items-center">
        <i class="fa fa-user text-info mr-2"></i>
        <%=capitalize(nombre)%>
    </div>
</td>
<td>
    <div class="d-flex align-items-center">
        <i class="fa fa-key text-warning mr-2"></i>
        <span class="badge badge-secondary">
            <%=clave_ingreso%>
        </span>
    </div>
</td>
<td>
    <div class="d-flex align-items-center">
        <i class="fa fa-calendar text-primary mr-2"></i>
        <span class="font-weight-bold">
            <%=create_at%>
        </span>
    </div>
</td>
<td class="text-center">
    <div class="btn-group" role="group">
        <button type="button" data-code="<%=cedrep%>" data-toggle="row-like"
            class="btn btn-primary btn-sm rounded-circle" title="Ver detalles del representante">
            <i class="fa fa-eye"></i>
        </button>
        <button type="button" data-code="<%=cedrep%>" data-toggle="row-edit"
            class="btn btn-warning btn-sm rounded-circle" title="Editar representante">
            <i class="fa fa-edit"></i>
        </button>
        <? if (Session::getData("RD") == 'SuperAdmin') { ?>
        <button type="button" data-code="<%=cedrep%>" data-toggle="row-remove"
            class="btn btn-danger btn-sm rounded-circle" title="Eliminar representante">
            <i class="fa fa-trash"></i>
        </button>
        <? } ?>
    </div>
</td>