<div class="card-body">
    <div class="row justify-content-center">
        <div class="col-sm-12">
            <div class='form-group'>
                <label><i class='text-danger'>*</i> Archivo</label>
                <div toggle-error='archivo' class="error text-danger" for="required"></div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="nc-icon nc-badge"></i></span>
                    </div>
                    <input style='display:none' type='file' data-event='upload' name='archivo_habiles' id='archivo_habiles' onchange='handleFiles()' />
                    <div class="form-control has-danger" data-toggle-file='searchfile' id='name_archivo' name="name_archivo" style='line-height:2'>nombre archivo</div>
                    <div class="input-group-text group-botton">
                        <button type='button' data-toggle-file='searchfile' class="btn btn-sm btn-outline-primary btn-round" style='margin:0px'><i class="nc-icon nc-zoom-split"></i></button>
                    </div>
                    <div class="input-group-text group-botton">
                        <button type='button' disabled id='remover_archivo' class="btn btn-sm btn-outline-primary btn-round" style='margin:0px'><i class="nc-icon nc-simple-remove"></i></button>
                    </div>
                </div>
                <p>Requiere de un archivo csv separado por (;) con:<br />
                    Columna 1 Nit Empresa, <br />
                    Columna 2 Razón Social<br />
                    Columna 3 Cedula Representante Legal<br />
                    Columna 4 Nombre Representante Legal<br />
                    Columna 5 Telefono<br />
                    Columna 6 Email<br />
                    Columna 7 Tipo ingreso (V) virtual o (P) presencial<br />
                </p>
            </div>
            <div class='row'>
                <div class='col checkbox-radios'>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" name='cruzar_cartera' id='cruzar_cartera' type="checkbox" value="">Cruzar con Base de Cartera
                            <span class="form-check-sign"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class='col-sm-12'>
            <div class='text-center'>
                <button type='button' disabled class='btn btn-outline-success btn-round' id='bt_hacer_cargue'><i class="fa fa-search"></i> Continuar</button>
            </div>
        </div>
    </div>
</div>