<div class='row justify-content-center'>
	<div class='col-md-8'>
		<h4><b>Nit</b> <%=nit%></br></h4>
		<p class="text-left">
			<b>Razon social</b> <%=capitalize(razsoc)%></br>
			<b>Replesentante legal</b> <%=capitalize(repleg)%></br>
			<b>Identificación</b> <%=cedrep%></br>
			<b>Email</b> <%=email%></br>
			<b>Telefono</b> <%=telefono%></br>
			<br />
		</p>
	</div>
</div>